<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>wss</title>
    <link href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue-simple-form-alert@1.0.0/dist/vue-simple-form-alert.umd.min.js"></script> -->
</head>
<body>
    <div id="v-app">
        <section class="alerts"> 
            <alert-component :items="alerts"></alert-component>
        </section>
        <section class="chat">

            <h1>{{title}}</h1>
    
        <form >
            <input v-model="text" type="text" />
            <button type="submit" @click.prevent="sendChatMessage()">send</button>
    
        </form>
        <div class="tab-row">
            <button class="tab-btn" :class="{active: activeRoom == 'general'}"  @click="activeRoom = 'general'">General</button>
            <button class="tab-btn" :class="{active: activeRoom == 'typescript'}"  @click="activeRoom = 'typescript'">Typescript</button>
            <button class="tab-btn" :class="{active: activeRoom == 'nestjs'}"  @click="activeRoom = 'nestjs'">Nestjs</button>
        </div>
        <div class="tab-row">
            Status: {{isMemberOfActiveRoom ? 'Joined': 'NOT Joined'}} <button @click.prevent="toggleRoomMembership()">{{isMemberOfActiveRoom ?'Leave': 'Join'}}</button>
        </div>
        <p>
            <ul>
                <li v-for="msg of messages[activeRoom]">
                   <strong> {{msg.sender}} :</strong> {{msg.message}}
                </li>
            </ul>
        </p>
        </section>
    </div>
</body>
<script>
    Vue.component('alert-component', VueSimpleNotify.VueSimpleNotify)
    var app = new Vue({
        el:"#v-app",
        data:{
            title: "Websockets Tester",
            text: "",
            messages: {
                general :[],
                typescript :[],
                nestjs :[],
            },
            rooms:{
                general :false,
                typescript :false,
                nestjs :false,
            },
            socket: {
                chat: null, alerts: null
            },
            username:"",
            alerts:[],
            activeRoom: 'general'
        },
        methods:{
            sendChatMessage(){
                if (this.isMemberOfActiveRoom) {
                    
                    this.socket.chat.emit('ChatToServer', {sender: this.username ,message:this.text, room: this.activeRoom})
                    this.text = "";
                }else{
                    alert('You Must be a member of the active room to send message!')
                }
            },
            receiveChatMessage(msg){
                console.log('recv msg', msg);
                this.messages[msg.room].push(msg);
            },
            receiveAlertMessage(msg){
                this.alerts.push(msg)

            },
            toggleRoomMembership(){
                if (this.isMemberOfActiveRoom) {
                    this.socket.chat.emit('leaveRoom', this.activeRoom)
                }else{

                    this.socket.chat.emit('joinRoom', this.activeRoom)
                }
            }
        },
        computed:{
            isMemberOfActiveRoom() {
                return this.rooms[this.activeRoom]
            }
        },
        created(){
            this.username = prompt('enter username')
            this. socket.chat = io("http://localhost:3000/chat" );
            this.socket.chat.on('ChatToClient', (msg)=>{
                // console.log('recv msg', msg);
                this.receiveChatMessage(msg)
            })

            this.socket.chat.on('connect', ()=>{
                this.toggleRoomMembership()
            })
            this.socket.chat.on('joinedRoom' , (room)=>{
                this.rooms[room]= true
            })
            this.socket.chat.on('leftRoom' , (room)=>{
                this.rooms[room]= false;
            })

            this.socket.alerts  =io("http://localhost:3000/alert" );
            this.socket.alerts.on('alertToClient', (msg)=>{
                // console.log('recv msg', msg);
                this.receiveAlertMessage(msg)
            })

        }
    })
</script>
</html>